.auth_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}

.blackShadow {
  box-shadow: 0px 0px 30px gray;
  transition: 0.2s ease;
}

.redShadow {
  box-shadow: 0px 0px 30px crimson;
  transition: 0.2s ease;
}
