.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.titlePage {
  flex-grow: 1;
}

.filterBar {
  border-bottom-style: inset;
  display: flex;
  justify-content: start;
}

.rightPanel {
  width: 250px;
}
