.timePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textPosition {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.textPositionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textFiledPosition {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: -webkit-fill-available;
}

.priorityMargin {
  margin-top: 10px;
}

.formSelect {
  margin: 8px;
  width: 250px;
}

.bttMurgin {
  margin-top: 15px;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.timeWith {
  width: 250px;
}
